/*
College Colors:

Blue: rgb(19, 96, 125)
Pink: rgb(202, 29, 108)
red: rgb(184, 0, 0)

Banner is 32px in height;

*/


.canvasContainer{
	background-color: rgb(19, 96, 125);
	width:1200px;
	height:400px;
	padding-top:30px;
}
.canvasBanner{
	font-size: 18px;
	background-color: rgb(184, 0, 0);
	width:1200px;
	height:60px;
	line-height: 60px;
	color: white;
	font-weight: bold;
	text-align: center;
	
}
.canvasLeftOutter{
	font-size: 16px;
	padding-top: 30px;
	width: 35%;
	height:100%;
	float:left;
}
.canvasRightOutter{
	font-size: 16px;
	padding-top: 30px;
	width: 65%;
	height:100%;
	float:right;
}

.canvasLeftInner{
	color: white;
	width: 90%;
	height:70%;
	float:clear;
	margin:auto;
}

.canvasRightInner{
width: 95%;
height:70%;
float:clear;
margin:auto;
}
.canvasImage{
	max-width:100%;
	max-height:100%;
}

.whiteLinks{
	color:white;
	text-decoration: underline;
}

.canvasHighlights{	
	background-color: rgb(202, 29, 108);
	margin-left:10px;
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
	margin-bottom:10px;
	padding:5px;
	width:100%;
}
.canvasTitle{
	font-weight: bold;
	margin-bottom: 5px;
}

.avatar{
	position: absolute;
	width:50px;
	height:50px;
	bottom:10px;
	right:10px;
	background-image: url("https://raw.githubusercontent.com/EIA-LIT/Assistant/main/avatar.png") ;
	border-radius: 50%;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-color: transparent;
	border-color = transparent;
}

