
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}



input:focus{
	outline: none;
}
button{
	cursor: pointer;
}
h3{
	color:white;
}


body {
  background-color: GrayText;
}
.question{
	display:block;
}
.hidden{
	visibility: hidden;
	display: none;
}
.bubble{
	padding: 5px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.inlineblock{
	display:inline-block;
}
.keywords{
	display:none;
	visibility:hidden;
}

.user{
	background-color: dodgerBlue;
	color: white;
	align:right;
	
}
.assistant{
	background-color: #e6e6e6;
}

.center{
	text-align: center;
}


#conversationDiv{
	position:absolute;
	top:25px;
	bottom: 75px;
	right:0px;
	left:0px;
	
	padding:15px;
	overflow:scroll;
	overflow-x: hidden; /* Hide horizontal scrollbar */	
	
}

.messageBar{
	background-color: white;
	position: absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height: 75px;
	
}
.messageForm{
	
	background-color: GrayText;
	border-radius: 5px;
	padding:10px;
	
}
#textbox{
	margin-left: 15px;
	height:30px;
	width:calc(100% - 120px);
	border-radius: 5px;
	border-color: transparent;
}


.light{
	color: white;
}


.left{
	width:100%;
	text-align:left;
}
.right{
	width:100%;
	text-align:right;
}

.question{
	text-align:left;
}



#QNA{
	
	width:100%;
	
}


#send{
	height:35px;
	border-radius: 10px;
	border-color: transparent;
	background-color: white;
	color: black;
}
.headerDiv{
	height:25px;
	background-color: #006699;
}
.header{
	float: left;
	position: relative;
	top:5px;
	left:5px;
	bottom:5px;
	width:auto;
}
#language{
	
	
	float: right;
	position: relative;
	top:5px;
	right:5px;
	bottom:5px;
}



#typingBubble{
	float:center;
	display:none;
	visibility:hidden;
	position:static;
	bottom:5px;
}

#virtualAssistantDiv{
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	
}
#outerVirtualAssistantDiv{

	position:absolute;
	top:15px;
	bottom:15px;
	left:20px;
	right:20px;
	font-family: Arial;
}


#outerLeftDiv{

	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:50%;
	border-radius:10px;
	background: white;
	margin-right:10px;
	 
}
#outerRightDiv{
	
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	left:50%;
	

	border-radius:10px;	
	background: white;
}

#leftDiv{

	position:absolute;
	top:15px;
	bottom:0px;
	right:15px;
	left:15px;
}

#rightDiv{
	
	position:absolute;
	top:15px;
	bottom:15px;
	right:15px;
	left:15px;
	
	overflow:scroll;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	/* No overflow here, go see ConversationDiv. */	
}

#questions{
	padding-top: 15px;
	padding-right: 15px;
}


.userIcon{
	border-radius: 8px;
	width:30px;
	height:30px;
	padding-top:1px;
}
.assistantIconTD{
	align: left;
	width:30px;
	padding-right:10px;
	vertical-align: top;

}

.userIconTD{
	align: right;
	width:30px;
	padding-right:10px;
	vertical-align: top;

}

.userBubble{
	float:right;
}


ul {
  list-style-position: inside;
}