
.bannerContainer{
	/*Div that contains everything. the master div.*/
	width: 1100px;
	position: relative;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}



.buttonContainer{
	height:50px;
	background-color: rgb(19, 96, 125);
	
}

.assistantContainer{
	/*Top div that contains the button and the message "Need Technical Assistance?*/
	visibility: hidden;
	position: absolute;
	top: 55px;
	right:0px;
	left:0px;
	bottom:0px;
}
.assistantFrame{
	/*The frame needs to be 100^ in width and set in height.*/
	width: 100%;
	height:707px;
	border-width: 0px;
}

.topBannerContainer{

	height: 311px;
	background-color: rgb(19, 96, 125);
}
.bottomBannerContainer{

	height:401px;
}


.topBannerContainerContent{
	padding-left: 40px;
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 15px;
	
}

.quickLinksList{
	list-style: none;
	padding-top: 4px;
	padding-bottom: 4px;
}

.topBannerContainerContentLinks{
	background-color: rgb(202, 29, 108);

}
ul li { padding: 5px 0px; }

.assistantButton{
	cursor:pointer;
	background:transparent;
	border-width: 0px;
}
.buttonImage{
	height:50px;
	width: 50px;
	
}

.pointerImage{
	height:58px;
}

.floatRight{
	float:right;
}

.link{
	color:white;
}
