.bannerContainer{
	/*Div that contains everything. the master div.*/
	width: 100%;
	height:100%;
	overflow-y: hidden;
	position: relative;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	/*Paragraph interligns Spacing*/
	
	line-height: 55%;
}



.buttonContainer{
	height:25px;
	/*Green*/
	background-color: rgb(19, 96, 125);
}
.buttonImage{
	filter: brightness(0) invert(1);
	padding-top: 5px;
	
	height:20px;
	width: 20px;
}


.assistantContainer{
	/*Top div that contains the button and the message "Need Technical Assistance?*/
	/*setting width and height for the assistant frame as well.*/
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}
.assistantFrame{
	/*The frame needs to be 100^ in width and set in height.*/
	width: 100%;
	padding-top:5px;
	height: 430px;
	border-width: 0px;
}
.canvas{
	/*The frame needs to be 100^ in width and set in height.*/
	width: 100%;
	padding-top:5px;
	height: 430px;
	border-width: 0px;
}

.topBannerContainer{

	height: 200px;
	background-color: rgb(19, 96, 125);
}
.bottomBannerContainer{
	background-color:rgb(19, 96, 125);
	padding-bottom: 10px;
}


.topBannerContainerContent{
	padding-left: 40px;
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 15px;
	
}

.quickLinksList{
	list-style: none;
	padding-top: 4px;
	padding-bottom: 4px;
}

.topBannerContainerContentLinks{
	background-color: rgb(202, 29, 108);

}
ul li { padding: 5px 0px; }

.assistantButton{
	cursor:pointer;
	background:transparent;
	border-width: 0px;
}


.pointerImage{
	height:58px;
}

.floatRight{
	float:right;
}

.link{
	color:white;
}
.bannerImage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:225px;
	object-fit: cover;
}
.assistantLinkButton{
	background-color: rgb(19, 96, 125); /* Green */
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	cursor:pointer;
	border: none;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
