*, *:before, *:after {

  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

}

 

body { margin: 0;

background-color: #13607d;

overflow-y: hidden;

min-height: 10px;

width: 100%;

height: 100%;

padding-bottom: 0px;

margin: 0px;

}

html{
width:100%;
height:100%;
}

 

.columnsContainer, footer, header { position: relative; margin: .5em; }

 

.leftColumn, .rightColumn, footer, header {}

 

.leftColumn { margin-bottom: .5em; padding: 0 50px 0 50px;}

 

.nav {

  list-style: none;

  margin-left: 0;

  margin-bottom: 0;

  padding-left: 0;

 

}

p {
	color: #ffffff;
	
}
 

a{

color: #ffffff;

}

 

.nav > li,

.nav > li > a {

   

      margin-bottom: 0.5em;

                background-color: #CA1D6C;

                font-weight: bold;

      text-decoration: underline;

      color: #ffffff;

                vertical-align: baseline; padding: 1.5px;

                text-align: left;

                font-size: 18px;

             

}

 

.inline-items {

  margin-top: 5px;

 

}

 

.inline-items li {

  margin-left: 1em;

  padding-left: 10px;

  padding-right: 5px;


}

 

.inline-items li:first-child {

  margin-left: 1em;

  border: none;

  padding-left: 10px;

  padding-right: 5px;

}

 

.inline-items li:last-child {

  padding-right: 0;

}

 

/* MEDIA QUERIES */

@media screen and (min-width: 80em) {

 

.leftColumn { position: relative; width: 35%;  float:left; font-size: 50%; }

 

              .rightColumn { position: relative; top: 0; right: 0; width: 65%; float:right; }

  

}

 

 

 

 

.img {

  width: 100%;

  height: auto;

  box-shadow: 3.01568603515625px 6.006697654724121px 27px -7px black;

}


.assistantButton{
	cursor:pointer;
	background:transparent;
	border-width: 0px;
	
}



.buttonContainer{
	height:25px;
	/*Green  ;*/
	background-color: rgb(19, 96, 125);
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	text-align:right;
}

.buttonImage{
	filter: brightness(0) invert(1);
	margin:auto;
	float:right;
	width:20px;
	height:20px;
}
